TCP_PORT=3001
MQTT_BROKER_CONNECTION_URL=ws://localhost:1884/mqtt
MQTT_TOPIC_PREFIX=
DATABASE_PROFILE=postgresql
DATABASE_HOST=localhost
DATABASE_USER=dbuser
DATABASE_PASSWORD=dbpassword
DATABASE_NAME=test
DATABASE_CREATE=true
DATABASE_PORT=50345
SCALEO_UI_URL=http://localhost
CORS_ORIGIN=*
#For now: Remember to change this to ipv4 address of server machine to allow connections from other machines in network
SESSION_LIFETIME=86400000
SCALEO_API_AUTHENTICATION_ENABLED=false
#For now: Remember to change this to ipv4 address of server machine to allow connections from other machines in network
PUBLIC_SIGNING_KEY=302a300506032b6570032100bea975e40a23c4b983088fa22843a58f540291264fac029a7840cdadfe414556
MQTT_USER=mqttuser
MQTT_PASSWORD=[@4k$ha2+U7e
JWT_SECRET=50241a2ad08ba0ef53c25951f946f78fce0daf9ba02ee50b7c030efdfad7468f
